<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Global -->
    <link rel="stylesheet" href="/css/global/fonts.css" />
    <link rel="stylesheet" href="/css/global/base.css" />
    <link rel="stylesheet" href="/css/global/utilities.css" />
    <!-- Atoms -->

    <link rel="stylesheet" href="/css/atoms/buttons.css" />
    <link rel="stylesheet" href="/css/atoms/header-text.css" />
    <!-- Components -->
    <link rel="stylesheet" href="/css/components/carousel.css" />
    <link rel="stylesheet" href="/css/components/header-nav.css" />
    <link rel="stylesheet" href="/css/components/burger.css" />
    <link rel="stylesheet" href="/css/components/feature-cards.css" />
    <link rel="stylesheet" href="/css/components/appointment.css" />
    <!-- Blocks -->
    <link rel="stylesheet" href="/css/blocks/hero.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="appt-footer">
      <div class="component-container flex">
        <div class="appt-footer__left-content wt-500">
          <h2>Appointment booking software that adapts for you</h2>
        </div>
        <div class="appt-footer__right-content">
          <p>
            Free up time in your day with dynamic scheduling tools tailored to
            your needs.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
