<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Global -->
    <link rel="stylesheet" href="/css/global/fonts.css" />
    <link rel="stylesheet" href="/css/global/base.css" />
    <link rel="stylesheet" href="/css/global/utilities.css" />
    <!-- Atoms -->

    <link rel="stylesheet" href="/css/atoms/buttons.css" />
    <link rel="stylesheet" href="/css/atoms/header-text.css" />
    <!-- Components -->
    <link rel="stylesheet" href="/css/components/carousel.css" />
    <link rel="stylesheet" href="/css/components/header-nav.css" />
    <link rel="stylesheet" href="/css/components/burger.css" />
    <link rel="stylesheet" href="/css/components/feature-cards.css" />
    <link rel="stylesheet" href="/css/components/appointment.css" />
    <!-- Blocks -->
    <link rel="stylesheet" href="/css/blocks/hero.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="appointment center-margin">
      <div class="component-container">
        <div class="container-description center-text">
          <h2 class="wt-500 reset">
            Automated booking, built to save your time
          </h2>
          <p>
            Get a branded scheduling page that showcases your services and
            real-time availability. With easy payment and intake forms, your
            scheduler is everything your clients need to self-schedule
            appointments.
          </p>

          <img
            src="/assets/images/calendar.png"
            alt=""
            weight="720"
            height="550"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </body>
</html>
