<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/components/carousel.css">

    <title>Carousel</title>
</head>
<body>


       <div class="carousel-container">
        <div class="slide-container">
          <div class="carousel-primary">

            <div class="carousel-content">
                <img src="/assets/images/top-silder1.jpg" alt="" />
                <div class="carousel-label">
                    <p>
                        <img src="/assets/images/white-circle.svg" alt="">
                          
                        10:00 PM</p>
                    <p>Blowout</p>
                </div>
            </div>

            <div class="carousel-content">
                <img src="/assets/images/top-silder2.jpg" alt="" />
                <div class="carousel-label">
                    <p>
                        <img src="/assets/images/white-circle.svg" alt="">
                        10:00 PM</p>
                    <p>Blowout</p>
                </div>
            </div>

            <div class="carousel-content">
                <img src="/assets/images/top-silder3.jpg" alt="" />
                <div class="carousel-label">
                    <p>
                        <img src="/assets/images/white-circle.svg" alt="">
                        10:00 PM</p>
                    <p>Blowout</p>
                </div>
            </div>

          </div>


          <div class="carousel-primary carousel-secondary">

            <div class="carousel-content">
                <img src="/assets/images/top-silder4.jpg" alt="" />
                <div class="carousel-label">
                    <p>
                        <img src="/assets/images/white-circle.svg" alt="">
                          
                        10:00 PM</p>
                    <p>Blowout</p>
                </div>
            </div>

            <div class="carousel-content">
                <img src="/assets/images/top-silder5.jpg" alt="" />
                <div class="carousel-label">
                    <p>
                        <img src="/assets/images/white-circle.svg" alt="">
                          
                        10:00 PM</p>
                    <p>Blowout</p>
                </div>
            </div>

            <div class="carousel-content">
                <img src="/assets/images/top-silder6.jpg" alt="" />
                <div class="carousel-label">
                    <p>
                        <img src="/assets/images/white-circle.svg" alt="">
                          
                        10:00 PM</p>
                    <p>Blowout</p>
                </div>
            </div>

          </div>
        </div>
      </div>

    <!-- <h2>Bottom Carousel</h2> -->

    <script src="/js/script.js"></script>
    
</body>
</html>