<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global/fonts.css">
    <link rel="stylesheet" href="/css/global/base.css">
    <link rel="stylesheet" href="/css/global/utilities.css">

    <link rel="stylesheet" href="/css/atoms/header-text.css">
    <link rel="stylesheet" href="/css/atoms/buttons.css">
    
    <title>Header and Descriptions</title>
</head>
<body>

    <!-- MAIN BLOCK -->
     <div class="container-description center-text">
        <h1 class="wt-500">Flexible scheduling software to help you succeed</h1>
        <p>With seamless client scheduling, secure payments, and workflow automation, all you have to do is show up on time.</p>
        <button>Try Scheduling</button>
        <span class="subtitle">
            No credit card needed
        </span>
     </div>

     <!-- FEATURES BLOCK -->

     <h2>Control your availability with ease</h2>
     <p>Tools to help you schedule and earn on your own
        terms–customize exactly how and when clients
        can book with you, host virtual appointments or
        classes, and block off personal time.</p>


     <!-- BOOKING BLOCK -->
      <div class="container-description center-text">
        <h2 class="wt-500 reset">Automated booking, built to save your time</h2>
        <p>Get a branded scheduling page that showcases your services and real-time
            availability. With easy payment and intake forms, your scheduler is
            everything your clients need to self-schedule appointments.</p>
      </div>
     
    
    
</body>
</html>