<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/global/fonts.css" />
    <link rel="stylesheet" href="/css/global/base.css" />
    <link rel="stylesheet" href="/css/global/utilities.css" />

    <link rel="stylesheet" href="/css/atoms/buttons.css" />
    <link rel="stylesheet" href="/css/atoms/header-text.css" />

    <link rel="stylesheet" href="/css/components/carousel.css" />
    <link rel="stylesheet" href="../css/components/header-nav.css" />
    <link rel="stylesheet" href="../css/components/burger.css" />

    <link rel="stylesheet" href="/css/blocks/hero.css" />

    <title>Header Nav</title>
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="logo-container">
          <img src="../assets/images/logo-acuity.svg" alt="" />
        </div>
        <div class="nav-links-container">
          <a href="#">Pricing</a>
          <a href="#">Help</a>
          <a href="#">Log In</a>
          <button>Try Scheduling</button>
        </div>
        <div id="burger-menu">
          <span></span>
        </div>

        <div id="menu">
          <ul>
            <li>
              <a href="#" class="nav-button properties-18-26 weight-500">
                Pricing
              </a>
            </li>
            <li>
              <a href="#" class="nav-button properties-18-26 weight-500">
                Help
              </a>
            </li>
            <li>
              <a href="#" class="nav-button properties-18-26 weight-500">
                Log in
              </a>
            </li>
            <li>
              <a href="#" class="nav-button properties-18-26 weight-500">
                <button>Try Scheduling</button>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <script src="/js/script.js"></script>
  </body>
</html>
