/* TOP CAROUSEL - AUTOPLAY-LOOP */

.carousel-container {
  background: rgba(95, 147, 192, 1);
  width: 99%;
  overflow: hidden;

  /* position absolute makes carousel disappear */
  white-space: nowrap;
  padding: 55px 0 0 0;
}

.slide-container {
  height: 30vh;
}

.carousel-primary,
.carousel-secondary {
  gap: 20px;
  /* left: 100%; */
  /* width: 350%; */
  width: 270rem;

  position: absolute;
}

.carousel-primary {
  display: flex;
  justify-content: space-around;
  animation: slide-horizontal 50s linear infinite;
}

/* .carousel-secondary {
  animation: slide-horizontal 20s linear infinite;
  animation-delay: 10s;
} */

.carousel-content {
  width: 100%;
  position: relative;
}

.carousel-content .carousel-label {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.carousel-content .carousel-label img {
  width: 11px;
}

.carousel-label p {
  padding: 0 15px;
}

.carousel-content {
  margin: 0 5px;
}

.carousel-content > img {
  filter: brightness(80%);
  width: 100%;
  border-radius: 14px;
}

@keyframes slide-horizontal {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

/* BOTTOM CAROUSEL - BUTTON */

.secondary-carousel {
  padding: 0 20px;

  /* Added last minute */
  max-width: 1440px;
  margin: 0 auto;
}

.table-content {
  display: flex;
  gap: 40px;
  justify-content: end;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* MANUAL CAROUSEL CONTENT */
.slider {
  height: 240px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.slide {
  width: 350px;
  padding-right: 20px;
  position: absolute;
  transition: all 0.5s;
  justify-content: center;
}

.slide img {
  border-radius: 14px;
  width: 100%;
  /* height: calc(100% - 20px); */
  left: 10px;
  top: 10px;
}

@media (max-width: 650px) {
  .table-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-top: 20px;
  }

  .table-content button {
    padding: 7px;
  }
}
