.dynamic-feature {
  margin: 120px 0;
}

.dynamic-feature__label {
  justify-content: space-between;
  gap: 20px;
}

.dynamic-feature__label h2 {
  width: 300px;
}

.dynamic-feature__label p {
  margin-top: 1%;
  width: 430px;
}

.component-container {
  counter-reset: dynamic-counter; /* Part of CSS Counter syntax */
}

#dynamic-feature__data {
  margin-top: 65px;
}

.dynamic-container {
  max-width: 265px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.dynamic-counter::before {
  /* Part of CSS Counter syntax */
  counter-increment: dynamic-counter;
  content: counter(dynamic-counter, decimal-leading-zero);
  font-weight: 400;
}

#dynamic-feature__data {
  gap: 50px;
  flex-wrap: wrap;
}

.dynamic-feature__header {
  font-weight: 500;
  margin-top: 25px;
  font-family: "AvenirNext";
}

.dynamic-feature__desc {
  font-weight: 400;
  font-family: "AvenirNext";
}

@media (max-width: 750px) {
  .dynamic-feature__label.flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
