.dynamic-feature__label {
  justify-content: space-between;
}

.dynamic-feature__label h2 {
  width: 300px;
}

.dynamic-feature__label p {
  margin-top: 1%;
  width: 430px;
}

.component-container {
  counter-reset: dynamic-counter;
}

.dynamic-feature__header::before {
  counter-increment: dynamic-counter;
  content: "0" counter(dynamic-counter) ". ";
}
