.feat__row {
  display: flex;
  justify-content: space-around;
  /* background: rgba(244, 244, 244, 1); */
  background: rgb(219, 219, 219);
  border-radius: 22px;
  padding: 64px;
  gap: 20px;
}

.feat__content {
  flex: 1;
}

.feat__content:nth-child(1) h2 {
  max-width: 90%;
}

.feat__media {
  flex: 1;
  text-align: end;
}

.feat__media img {
  border-radius: 22px;
  object-fit: cover;
  object-position: 0% 85%;
  margin-right: -25px;
}

.feat__row .feat__media img {
  align-items: end;
}
