.hero {
  background: rgba(95, 147, 192, 1);
  color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  overflow: hidden; /* Hides side scroll */
  position: relative; /* makes overflow work */
  height: 760px;
}

.hero .content {
  max-width: 570px;
  margin-top: 10%;
}

.hero .content > * {
  white-space: pre-line; /* Makes content inside follow container's width. It was messed up due to carousel needing position changes to multiple containers */
}

.hero p {
  margin-bottom: 45px;
}

.hero .subtitle {
  margin-top: 25px;
}

.hero a {
  background: white;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 13px;
  line-height: 16px;
}

.hero .subtitle {
  display: block;
}
